/* style guide */
:root {
  --primary-red: #ce0d34;
  --background-gray: #2d2f36;
  --text-gray: #dbdbdb;
  --accent-gold: #e0b61f;
}

/* Fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

/* Define Font Families */
body {
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
}

.subtitle-text {
  font-family: "Fjalla One", sans-serif;
}

/* Apply Colors */
body {
  background-color: var(--background-gray);
  color: var(--text-gray);
}

a,
li,
a {
  color: var(--primary-red);
}

a:hover {
  color: var(--accent-gold);
}

/* Example Usage */
.subtitle-text {
  color: var(--accent-gold);
}

/* Other Styling */
/* For shadows or other text effects, you can define additional styles */
.shadow-text {
  text-shadow: 2px 2px 4px var(--accent-gold);
}
